openapi: 3.0.3
info:
  title: Akkio Datasets API
  version: v1
  description: 'The Akkio API provides programmatic access to Akkio''s no-code predictive AI platform: manage datasets, train models, and generate predictions. This specification was derived faithfully from Akkio''s first-party client SDKs (github.com/akkio-inc/akkio-python and akkio-node), which document the real paths, methods, request bodies, and authentication. It is a reconstruction, not a provider-published OpenAPI.'
  contact:
    name: Akkio Support
    email: support@akkio.com
    url: https://docs.akkio.com/akkio-help-center
  x-source: https://github.com/akkio-inc/akkio-python
  x-derived: true
servers:
- url: https://api.akk.io/v1
  description: Akkio API v1 production
security:
- apiKeyQuery: []
tags:
- name: Datasets
  description: Create and populate datasets that models train on.
paths:
  /datasets:
    get:
      operationId: getDatasets
      tags:
      - Datasets
      summary: List datasets
      description: Return all datasets available to the authenticated account.
      parameters:
      - name: api_key
        in: query
        required: true
        schema:
          type: string
        description: Akkio API key (obtain at https://app.akk.io/team-settings).
      responses:
        '200':
          description: A list of datasets.
          content:
            application/json:
              schema:
                type: object
                properties:
                  datasets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset'
    post:
      operationId: postDataset
      tags:
      - Datasets
      summary: Create a dataset, add rows, set fields, or parse fields
      description: 'Overloaded endpoint keyed by request body. With only `name`, creates a new dataset. With `id` + `rows`, appends rows. With `id` + `fields`, sets field types. With `id` + `parse_fields: true`, parses fields.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/CreateDatasetRequest'
              - $ref: '#/components/schemas/AddRowsRequest'
              - $ref: '#/components/schemas/SetFieldsRequest'
              - $ref: '#/components/schemas/ParseDatasetRequest'
      responses:
        '200':
          description: The created or updated dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
    delete:
      operationId: deleteDataset
      tags:
      - Datasets
      summary: Delete a dataset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - api_key
              - id
              properties:
                api_key:
                  type: string
                id:
                  type: string
                  description: Dataset id to delete.
      responses:
        '200':
          description: Deletion result.
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    CreateDatasetRequest:
      type: object
      required:
      - api_key
      - name
      properties:
        api_key:
          type: string
        name:
          type: string
          description: Name for the new dataset.
    AddRowsRequest:
      type: object
      required:
      - api_key
      - id
      - rows
      properties:
        api_key:
          type: string
        id:
          type: string
          description: Dataset id.
        rows:
          type: array
          items:
            type: object
            additionalProperties: true
    ParseDatasetRequest:
      type: object
      required:
      - api_key
      - id
      - parse_fields
      properties:
        api_key:
          type: string
        id:
          type: string
        parse_fields:
          type: boolean
          enum:
          - true
    SetFieldsRequest:
      type: object
      required:
      - api_key
      - id
      - fields
      properties:
        api_key:
          type: string
        id:
          type: string
        fields:
          type: object
          additionalProperties: true
    Dataset:
      type: object
      properties:
        dataset_id:
          type: string
        name:
          type: string
  securitySchemes:
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Akkio API key. Sent as the `api_key` query parameter on GET requests and inside the JSON request body on POST/DELETE requests. Obtain a key at https://app.akk.io/team-settings.
